# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Flask specific
instance/
.env
*.env

# Virtual Environment
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Render or deployment related
*.sqlite3
*.db
